<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}} --}}
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
<body>
    <h2>{{message}}</h2>
    <p>{{description}}</p>
</body>
</html>